#namebox{
    background-color:lightgrey;
    width: 300px;
}


#notebox{
    background-color: lightgrey;
    width: 600px;
}


#savebutton{
    background-color: blue;
    width: 70px;
    height: 30px;
    color: white;


}




body{
    background-color: grey;
    color: lavender;

}
