<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
      <h1>Welcome to the NoteManager app</h1>
      <form method="POST">
        <input type="text" placeholder="Please enter your name" name="namebox" id="namebox"><br>
        <input type="text" placeholder="Please enter a note here" name="notebox" id="notebox"><br>
        <input type="submit" value="Post note" id="savebutton">
      </form>
      
        
        
    </body>
</html>